{% extends "layout.html" %}

{% block content %}
<style type="text/css">
  input {
    padding: 6px 4px 7px 7px;
    margin-top: 5px;
    border: 0px;
    font-size: 18px;
  }

  textarea {
    padding: 6px 4px 7px 7px;
    margin-top: 5px;
    border: 0px;
    font-size: 18px;
  }

  #header {
    width: 100%;
    border-radius: 7px;
  }

  #textField {
    padding: 5px;
    margin: 2px, 20px, 2px, 20px;
    border-radius: 7px;
    width: 100%;
    height: 100px;
  }

  #submit {
    background-color: #f7f7f7;
    border: 3px groove {{postColor}};
    border-radius: 5px;
  }

  #submit:hover {
    background-color: #bfe2ff;
  }
</style>

<div>
  <br />
  <form action="" method="post">
    <h4>{{information}}</h4>
    <br />
    <h3>Titel:</h3>
    <input type="text" id="header" placeholder="Skriv her" name="header" maxlength="100" /><br />
    <br />
    <h3>Indhold:</h3>
    <textarea name="content" id="textField" placeholder="Skriv her" wrap="soft"></textarea>
    <h4>{{error | safe}}</h4>
    Tillad andre patienter at svarer: <input type="checkbox" name="open" checked/><br />
    <input type="submit" id="submit" name="submit" value="Lav tråd" />
  </form>
</div>
{% endblock content %}