{% extends "layout.html" %}

{% block content %}
<style>
  table {
    border-left: 2px groove black;
    border-right: 2px groove black;
    width: 100%;
  }

  th {
    border-bottom: 3px groove #4c4c4c;
    border-left: 2px solid #7f7f7f;
    border-right: 2px solid #7f7f7f;
  }

  td {
    border-bottom: 2px solid #7f7f7f;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
  }
</style>
<table>
  <tr>
    {% for name in header %}
    <th style="text-align: center">{{name}}</th>
    {% endfor %}
  </tr>
  {% for row in data %}
  <tr>
    {% for col in row %}
    <td style="text-align: center">{{col}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock content %}