{% extends "layout.html" %}

{% block content %}
<style>
  table {
    border-collapse: collapse;
    margin-top: 10px;
    border-top: 5px groove #000000;
    border-bottom: 5px groove #000000;
    width: 100%;
  }

  th {
    border-bottom: 3px groove #4c4c4c;
    border-left: 2px solid #7f7f7f;
    border-right: 2px solid #7f7f7f;
  }

  td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 2px;
  }

  .input {
    border-bottom: 1px double black;
  }

  #submit {
    background-color: #f7f7f7;
    border: 3px groove lightgray;
    border-radius: 5px;
  }

  #submit:hover {
    background-color: #bfe2ff;
  }

  #profileSummary {
    display: inline-block;
    height: 100px;
    border-right: 2px solid black;
    width: 20%;
  }

  #postContent {
    height: 100px;
    display: inline-block;
    width: 79%;
  }

  #newPost {
    width: 100%;
    height: 100px;
  }

  #textField {
    padding: 5px;
    margin: 2px, 20px, 2px, 20px;
    width: 100%;
    height: 100px;
    {{border}}
  }
</style>
<h2>{{thread.header | safe}}</h2>
<table>
  <tr>
    <td id="profileSummary">
      <h3 style="color: red">{{thread.username | safe}}</h3>
      {% if thread.journalID != None and thread.processID != None %}
        <p>Proces ID: {{thread.processID}}</p>
        <p>Journal ID: {{thread.journalID}}</p>
      {% else %}
        <p>Jobstilling: {{thread.specialization | safe}}</p>
        <p>Arbjeder os: {{post.works_at}}</p>
      {% endif %}
      <p>Skrevet: {{thread.createddate}}</p>
    </td>
    <td id="postContent">
      <p>{{thread.content | safe}}</p>
    </td>
  </tr>
  {% for post in thread.posts %}
  <tr>
    <td id="profileSummary">
      <h4>{{post.username | safe}}</h4>
      {% if post.journalID != None and post.processID != None %}
      <p>Proces ID: {{post.processID}}</p>
      <p>Journal ID: {{post.journalID}}</p>
      {% else %}
      <p>Jobstilling: {{post.specialization | safe}}</p>
      <p>Arbjeder os: {{post.works_at}}</p>
      {% endif %}
      <p>Skrevet: {{post.createddate}}</p>
      <p>Ændret: {{post.modifieddate}}</p>
    </td>
    <td id="postContent">
      <p>{{post.content | safe}}</p>
    </td>
  </tr>
  {% endfor %}
</table>
{% if privilages >= 0 or current_user[0] == thread.CPR %}
<div id="newPost">
  <h2>Svar:</h2>
  <form action="" method="post">
    <textarea id="textField" name="postInput" placeholder="Besked til tråd..." wrap="soft"></textarea>
    <h4>{{error | safe}}</h4>
    <input type="submit" id="submit" name="postSubmit" value="Send" />
  </form>
</div>
{% endif %}
{% endblock content %}