{% extends "layout.html" %}

{% block content %}
<style>
  table {
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: auto;
    object-fit: cover;
    border-top: 5px groove #000000;
    border-bottom: 5px groove #000000;
    width: 100%;
  }

  th {
    border-bottom: 3px groove #4c4c4c;
    border-left: 2px solid #7f7f7f;
    border-right: 2px solid #7f7f7f;
  }

  td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 6px;
  }

  .input {
    border-bottom: 1px double black;
  }

  #submit {
    padding: 6px 4px 7px 7px;
    margin-top: 5px;
    border: 0px;
    font-size: 18px;
    background-color: #f7f7f7;
    border: 3px groove lightgray;
    border-radius: 5px;
  }

  #submit:hover {
    background-color: #bfe2ff;
  }

  #profileSummary {
    display: inline-block;
    height: 100px;
    border-right: 2px solid black;
    width: 20%;
  }

  #postContent {
    height: 100px;
    display: inline-block;
    width: 79%;
  }

  #newPost {
    width: 100%;
    height: 100px;
  }

  #textField {
    padding: 5px;
    margin: 2px, 20px, 2px, 20px;
    width: 100%;
    height: 100px;
    {{border}}
  }

  .tag {
    text-decoration: none;
    padding: 2px;
    padding-left: 4px;
    margin-right: 5px;
    position: relative;
    border-radius: 4px;
    border: none;
    font-size: 16px;
  }

  #delete {
    background-color: #ff0000;
    border: 2px groove gray;
    color: white;
  }

  #delete:hover {
    border: 3px groove red;
    cursor: pointer;
    border-radius: 4px;
  }
</style>
<h2>{{thread.header | safe}}</h2>
<table>
  <tr style="border-bottom: 2px groove #000000;">
    <td id="profileSummary">
      <h3 style="color: red">{{thread.username | safe}}</h3>
      {% if thread.journalID != None and thread.processID != None %}
        Proces ID: {{thread.processID}}<br />
        Journal ID: {{thread.journalID}}<br />
      {% else %}
        Jobstilling: {{thread.specialization | safe}}<br />
        Arbjeder os: {{thread.works_at}}<br />
      {% endif %}
      Skrevet: {{thread.createddate}}
    </td>
    <td id="postContent">
      <p>{{thread.content | safe}}</p>
    </td>
  </tr>
  {% if thread.posts != [] %}
    {% for post in thread.posts %}
    <tr>
      <td id="profileSummary">
        <h4>{{post.username | safe}}</h4>
        {% if post.journalID != None and post.processID != None %}
          Proces ID: {{post.processID}}<br />
          Journal ID: {{post.journalID}}<br />
        {% else %}
          Jobstilling: {{post.specialization | safe}}<br />
          Arbjeder os: {{post.works_at | safe}}<br />
        {% endif %}
        Skrevet: {{post.createddate}}<br />
        Ændret: {{post.modifieddate}}
      </td>
      <td id="postContent">
        <p>
          {% if current_user != [] and privilages >= 0 %}
          <a class="tag" id="delete" href="{{url_for('deletePost', postid=post.id, threadid=thread.id)}}">
            Slet
          </a>
          {% endif %}
          {{post.content | safe}}
        </p>
      </td>
    </tr>
    {% endfor %}
  {% endif %}
</table>
{% if privilages >= 0 or current_user[0] == thread.CPR or (current_user != [] and thread.open) %}
<div id="newPost">
  <h2>Svar:</h2>
  <form action="" method="post">
    <textarea id="textField" name="postInput" placeholder="Besked til tråd..." wrap="soft"></textarea>
    <h4>{{error | safe}}</h4>
    <input type="submit" id="submit" name="postSubmit" value="Send" />
  </form>
</div>
{% endif %}
{% endblock content %}